{% extends "base.html" %}
{% load static %}

{% block scripts %}
{% if user.is_authenticated %}
    {% csrf_token %}
    <script>
        const dataUrl = "{% url 'data' %}";
        const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
    <script src="{% static 'home.js' %}"></script>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="alert alert-success">
    <strong>Hi!</strong> {{ user.username }}.
</div>
<br>
<h2 class="text-center">{{ user.first_name }} {{ user.last_name }}</h2>
<p><strong>First Name : </strong> {{ user.first_name }} </p>
<p><strong>Last Name : </strong> {{ user.last_name }} </p>
<p><strong>Email : </strong> {{ user.email }} </p>
<p><strong>Last Login : </strong> {{ user.last_login }} </p>
<p><strong>Joined: </strong> {{ user.date_joined }}  </p>
<p><strong>Sensitive data: </strong> <span id="sensitive-data-container"></span>  </p>
<p><strong>Sensitive data input: </strong> <input id="sensitive-data-input"><button onclick="submitSensitiveData(event)">Submit data</button>  </p>
<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
{% else %}
<p>You are not logged in 
<a href="{% url 'login' %}">Login</a> </p>
<p>Don't have an account ?
<a href="{% url 'registration' %}">Sign Up</a></p>
{% endif %}

{% endblock content %}